.sbt-inside-page-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 ratio (9 divided by 16 multiplied by 100) */
    height: 0;
  }
  
  .sbt-inside-page-container .relative9 {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 ratio (9 divided by 16 multiplied by 100) */
  }
  
  .sbt-inside-page-container .relative9 .cc-player__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .sbt-inside-page-container .relative9 .aspectratio {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .sbt-inside-page-container .relative9 .aspectratio .h-100 {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .sbt-inside-page-container .relative9 .aspectratio iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }


  .ui.input {
    margin: 25%
  }
  