<header>
    <nav class="level-nav">
    </nav>
 </header>
 <section class="mt-3">
    <div class="accordion" id="accordionPanelsStayOpenExample">
       <div class="accordion-item">
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
             <div class="container-fluid">
                <div class="accordion-body bg-color">
                   <div class="row">
                      <div class="col-md-9">
                         <div class="tab-content bg-white" id="v-pills-tabContent">
                            <div *ngIf="exploreandlearn" class="tab-pane p-4 fade show active" id="v-pills-home"
                               role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
                                  <iframe
                                  src="/assets/sb-all/index.html#/exploreandlearn?hideNavigation=true&language=ta&source=/assets/sb-all/db/ta/proto3.json"
                                  frameborder="0" height="600px" width="100%"></iframe>
                            </div>
                            <div *ngIf="learnandplay" class="tab-pane fade p-4 show active" id="v-pills-profile"
                               role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">                             
                                  <iframe
                                  src="/assets/sb-all/index.html#/playandlearn?hideNavigation=true&language=ta&source=/assets/sb-all/db/playAndLearn/proto4.json"
                                  frameborder="0" height="600px" width="100%"></iframe>
                                  
                            </div>
                            <div *ngIf="playgame" class="tab-pane fade p-4 show active" id="v-pills-messages"
                               role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">
                               <iframe src="/assets/games/index.html" frameborder="0" height="600px"
                                  width="100%"></iframe>
                            </div>
                            <div *ngIf="videohelp" class="tab-pane fade p-4 show active" id="v-pills-video"
                               role="tabpanel" aria-labelledby="v-pills-video-tab" tabindex="0">
                               <iframe src="/assets/explore_and_learn.mp4" frameborder="0" height="600px"
                                  width="100%"></iframe>
                            </div>
                         </div>
                      </div>
                      <div class="col-md-3">
                         <h2 class="accordion-header">
                            <button class="accordion-button cl fw-700 ml-2" type="button" data-bs-toggle="collapse"
                               data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                               aria-controls="panelsStayOpen-collapseOne">Speak with Me..
                            </button>
                         </h2>
                         <div class="nav flex-column nav-pills bg-border m-4" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <button (click)="showExploreandLearn()"
                               class="nav-link active text-left fs-14 text-black" id="v-pills-home-tab"
                               data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab"
                               aria-controls="v-pills-home" aria-selected="true">Explore & Learn</button>
                            <button (click)="showLearnandplay()" class="nav-link text-left fs-14 text-black"
                               id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
                               type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Play
                            & Learn</button>
                            <button (click)="showPlaygame()" class="nav-link text-left fs-14 text-black"
                               id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages"
                               type="button" role="tab" aria-controls="v-pills-messages"
                               aria-selected="false">Learn with a Friend</button>
                            <button (click)="showVideoHelp()" class="nav-link text-left fs-14 text-black"
                               id="v-pills-video-tab" data-bs-toggle="pill" data-bs-target="#v-pills-video"
                               type="button" role="tab" aria-controls="v-pills-video" aria-selected="false">Video
                            help</button>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- <div class="tab-pane active flex-center w-75 mb-5 mt-3" id="tab1">
    <a class="btnNext cursor px-5 py-3 rounded bg-primary border-0 text-white fs-4">Next</a>
    </div> -->
 <footer>
    <div class="footer-level-img footer" style="position:relative!important"></div>
    <!-- hitwebcounter Code START -->
    <span>Visitors Counter: </span>
    <!-- Start of CuterCounter Code -->
    <a href="https://www.cutercounter.com/" target="_blank"><img
       src="https://www.cutercounter.com/hits.php?id=hemxnakfa&nd=6&style=3" border="0" alt="hit counter"></a>
    <!-- End of CuterCounter Code -->
    <div>Device Id: {{this.getFingerPrintJsId()}}</div>
 </footer>
